.env
django_project/SensorNet/__pycache__/__init__.cpython-38.pyc
django_project/SensorNet/__pycache__/__init__.cpython-311.pyc
django_project/SensorNet/__pycache__/settings.cpython-38.pyc
django_project/SensorNet/__pycache__/settings.cpython-311.pyc
django_project/SensorNet/__pycache__/urls.cpython-38.pyc
django_project/SensorNet/__pycache__/urls.cpython-311.pyc
django_project/SensorNet/__pycache__/wsgi.cpython-38.pyc
django_project/SensorNet/__pycache__/wsgi.cpython-311.pyc
django_project/Sensors/__pycache__/__init__.cpython-38.pyc
django_project/Sensors/__pycache__/admin.cpython-38.pyc
django_project/Sensors/__pycache__/apps.cpython-38.pyc
django_project/Sensors/__pycache__/models.cpython-38.pyc
django_project/Sensors/__pycache__/serializers.cpython-38.pyc
django_project/Sensors/__pycache__/urls.cpython-38.pyc
django_project/Sensors/__pycache__/views.cpython-38.pyc
.gitignore
nginx/nginx-selfsigned.crt
nginx/nginx-selfsigned.key
nginx/dhparam.pem
